/*
!/wp_config.php
!/wp-content/
/wp-admin/**
/wp-includes/**
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/stack/

!/wp-content/plugins

/wp-content/plugins/*

!/wp-content/plugins/wp-slick-slider-and-image-carousel/


!/wp-content/plugins/ultimate-faqs/
/wp-content/plugins/ultimate-faqs/*

!/wp-content/plugins/ultimate-faqs/js
!/wp-content/plugins/ultimate-faqs/Shortcodes
!/wp-content/plugins/ultimate-faqs/css


!/wp-content/plugins/kboard/
/wp-content/plugins/kboard/*

!/wp-content/plugins/kboard/skin

/wp-content/plugins/kboard/skin/*

!/wp-content/plugins/kboard/skin/custom-board-skin

!/wp-content/plugins/kboard/skin/custom-language-selector/

!/wp-content/plugins/custom-price-calculate/
!/wp-content/plugins/kboard/skin/custom-appDownLoad-button/